In [9]:
import pandas as pd
import numpy as np

In [5]:
#Scrap data

import requests
from bs4 import  BeautifulSoup

url="http://www.ragingbulledu.com/Edu_Reports/Medicine/Indian_Medical_Colleges_Ranked_by_Primitiveness.aspx"
r=requests.get(url)
soup=BeautifulSoup(r.text, 'html.parser')
rows=soup.find_all('table')[0].find_all('tr')
cols=[x.text.strip() for x in rows[4].find_all('td')]
data=[]
for row in rows[5:]:
    data.append([x.text.strip() for x in row.find_all('td')])
df=pd.DataFrame(data=data, columns=cols)
df=df[df.State!='']
df.to_csv('med_collage.csv', index=None)

'\n#Scrap data\n\nimport requests\nfrom bs4 import  BeautifulSoup\n\nurl="http://www.ragingbulledu.com/Edu_Reports/Medicine/Indian_Medical_Colleges_Ranked_by_Primitiveness.aspx"\nr=requests.get(url)\nsoup=BeautifulSoup(r.text, \'html.parser\')\nrows=soup.find_all(\'table\')[0].find_all(\'tr\')\ncols=[x.text.strip() for x in rows[4].find_all(\'td\')]\ndata=[]\nfor row in rows[5:]:\n    data.append([x.text.strip() for x in row.find_all(\'td\')])\ndf=pd.DataFrame(data=data, columns=cols)\ndf=df[df.State!=\'\']\ndf.to_csv(\'med_collage.csv\', index=None)\n\n'

In [4]:
df=pd.read_csv('med_collage.csv')
df.head()

,S.No.,State,Name and Address of Medical College / Medical Institution,Starting Year,Rank
0,1,Tamil Nadu,"Madras Medical College, Chennai",1835,1
1,2,West Bengal,"Medical College, Kolkata",1838,2
2,3,Tamil Nadu,"Stanley Medical College, Chennai",1838,2
3,4,Maharashtra,"Grant Medical College, Mumbai",1845,3
4,5,Uttar Pradesh,Chhatrapati Shahuji Maharaj Medical University...,1911,4

In [7]:
df['Starting Year']=df['Starting Year'].astype('int')

In [8]:
df['Starting Year'].min()

1835

In [10]:
year=np.arange(df['Starting Year'].min(),df['Starting Year'].max()+1)

In [27]:
cols=['State']
#cols.extend(year)
cols

['State']

In [43]:
temp=pd.DataFrame(columns=cols)
temp

Empty DataFrame
Columns: [State]
Index: []

In [44]:
temp.State=df.State.unique()
temp.head()

           State
0     Tamil Nadu
1    West Bengal
2    Maharashtra
3  Uttar Pradesh
4          Delhi

In [45]:
def total_counter(year):
    t=pd.DataFrame({'State':list(df[df['Starting Year']<year+1].State.value_counts().index),
                   str(year):list(df[df['Starting Year']<year+1].State.value_counts().values)})
    return t

In [46]:
for y in year:
    y_df=total_counter(y)
    temp=temp.merge(y_df, how='outer', on='State')

In [47]:
temp

,State,1835,1836,1837,1838,1839,1840,1841,1842,1843,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Tamil Nadu,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,...,20.0,22.0,25.0,25.0,30,32,37,40,42,45
1,West Bengal,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,9.0,9.0,9.0,9.0,10,10,11,14,15,17
2,Maharashtra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.0,39.0,39.0,40.0,41,41,41,41,43,44
3,Uttar Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,13.0,16.0,16.0,19,21,21,25,27,30
4,Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,5.0,5.0,5.0,6,6,6,6,7,8
5,Andhra Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.0,30.0,31.0,31.0,33,33,36,37,40,43
6,Karnataka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.0,32.0,36.0,39.0,39,39,39,41,43,46
7,Bihar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,9,9,9,10,11,13
8,Punjab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,7.0,8.0,8,8,8,10,10,10
9,Orissa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,4.0,4.0,6.0,6,6,6,6,7,8
10,Gujarat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,13.0,13.0,13.0,13,16,16,19,22,22
11,Madhya Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,8.0,8.0,9.0,9,11,11,12,12,12
12,Assam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3,3,4,4,5,5
13,Rajasthan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,10,10,10,10,10,10
14,Kerala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,15.0,18.0,18.0,20,22,23,23,23,25
15,Pondicherry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,5.0,7.0,8.0,8,8,9,9,9,9
16,Jammu & Kashmir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,4,4,4,4,4,4
17,Haryana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3,3,4,5,6,7
18,Jharkhand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3,3,3,3,3,3
19,Goa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1,1,1,1,1,1
20,Chattisgarh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,3.0,3.0,3,3,3,3,3,5
21,Himachal Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2,2,2,2,2,3
22,Manipur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1,1,2,2,2,2
23,Chandigarh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1,1,1,1,1,1
24,Uttaranchal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,3.0,3.0,4,4,4,4,4,4
25,Sikkim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1,1,1,1,1,1
26,Tripura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,2.0,2,2,2,2,2,2
27,Meghalaya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,1,1,1,1

In [48]:
temp.to_csv('med_processed.csv', index=None)